<div class="container ad-index-container">
  <h1 class="text-center ad-index-header">LATEST ADS</h1>
  
  <div class="ad-index-grid">
    <% @ads.each do |ad| %>
      <div class="ad">
        <div class='ad-thumb'>
          <%= link_to image_tag(ad.image_url(:thumb)), ad %>
          <% if ad.condition? %>
            <div class="condition">
              <span><%= ad.condition %></span>
            </div>
          <% end %>
        </div>

        <div class="ad-second">
          <h3><%= ad.title %></h3>
          <p class="ad-index-soldby">Sold by <%= ad.user.name %></p>
          <p class="ad-index-price"><%= number_to_currency(ad.price) %></p>

          <% if ad_author(ad) %>
            <%= link_to "Edit", edit_ad_path(ad), class: 'btn btn-primary' %>
            <%= link_to 'Delete', ad, method: :delete, data: { confirm: 'Are you sure ?'}, class: 'btn btn-primary' %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>