<section class="ad-show container">
  <div class="row">
    <div class="col-md-6 hit-300 show-col image-col">
      <div class="feature-image">
        <%= cl_image_tag(@ad.image_url(:default)) %>
      </div>
    </div>

    <div class="col-md-6 second-col show-col">
      <div class="jumbotron">
        <h1><%= @ad.title %></h1>
      </div>
      <h3><%= number_to_currency(@ad.price) %></h3>
      <div class="content">
        <div class="show-desp-box">
          <hr>
          <p  class="product-description"><%= @ad.description %></p>
        </div>

        <table class="table is-narrow">

          <% if @ad.condition %>
            <tr>
              <td><strong>Condition:</strong></td>
              <td class="spec"><%= @ad.condition %></td>
            </tr>
          <% end %>

          <% if @ad.brand %>
            <tr>
              <td><strong>Brand:</strong></td>
              <td class="spec"><%= @ad.brand %></td>
            </tr>
          <% end %>
          
          <tr>
            <td><strong>Category:</strong></td>
            <td class="spec"><%= raw @ad.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
          </tr>

          <tr>
            <td><strong>Sold by:</strong></td>
            <td class="spec">
              <% if user_signed_in? %>
                <% if @other_user != current_user %>
                  <%= link_to(user_chats_path(current_user, :other_user => @other_user.id), method: :post) do %>
                  <%= @other_user.name %>
                  <% end %>
                <% else %>
                  You
                <% end %>
              <% else %>
                <%= @ad.user.name %>
              <% end %>
            </td>
          </tr>

        </table>
      </div>
      <div class="bookmark-button">
        <%= link_to bookmark_text, bookmarks_update_path(ad: @ad), id: 'bookmark_link', remote: true %>
        <% if ad_author(@ad) %>
          <%= link_to 'Edit', edit_ad_path(@ad), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
