<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @ad.brand %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @ad.condition %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
