<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="object-fit:cover; height: 90vh; background-size: cover; background-position: center; background-image: url('https://res.cloudinary.com/areeba/image/upload/v1578752935/BeFunky-design.jpg')">
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item" style="object-fit:cover; height: 90vh; background-size: cover; background-position: center; background-image: url('https://res.cloudinary.com/areeba/image/upload/v1579171436/BeFunky-design_1.jpg');">
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item" style="object-fit: cover; height: 90vh; background-size: 1450px 650px; background-position: center; background-image: url('https://res.cloudinary.com/areeba/image/upload/v1578754394/BeFunky-design-second.jpg');">
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container ad-index-container">
  <% if user_signed_in? %>
    <h1 class="text-center ad-index-header">YOUR BOOKMARKED ADS</h1>

    <div class="ad-index-grid">
      <% current_user.bookmarks.each do |bookmark| %>
        <div class="ad">
          <div class='ad-thumb'>
            <%= link_to cl_image_tag(bookmark.ad.image_url(:thumb)), bookmark.ad %>
            <% if bookmark.ad.condition? %>
              <div class="condition">
                <span><%= bookmark.ad.condition %></span>
              </div>
            <% end %>
          </div>

          <div class="ad-second">
            <h3><%= bookmark.ad.title %></h3>
            <p class="ad-index-soldby">Sold by <%= bookmark.ad.user.name %></p>
            <p class="ad-index-price"><%= number_to_currency(bookmark.ad.price) %></p>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
  <%= render 'shared/ads' %>
</div>
